<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/pico.min.css">
  <link rel="stylesheet" href="/static/front.css">
  <script src="/static/jquery-3.6.0.min.js"></script>
  <script src="/static/front.js"></script>
  <title>Hello, world!</title>
</head>

<body>
  <header>
    <div class="container">
      <h1>好智广告管理系统</h1>
      <p>自动化管理，加强宣传；支持视频、图片、网页的展示</p>
      <p> 
        <a href="#startShow" role="button">启动广告显示</a> 
      </p>
    </div>
  </header>

  <div class="ads-container" id="ads-container" style="display: none;">
  </div>
  
</body>

</html>